*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
html,body{
	background-color: rgb(233, 247, 247);
}
section{
	padding: 80px 0;
}
header{
	background-color: rgb(141, 211, 235);
}
.row{
	max-width: 1140px;
	margin: 0 auto 0 auto;
}
.index-buttons{
	float: left;
	width: 60%;
	margin: 1%;
}
.buttons-list li{
	display: inline-block;
	margin-right: 6%;
}
.buttons-list a{
	font-size: 150%;
	color: white;
	text-decoration: none;
}
.buttons-list a:hover{
	color: yellow;
	background-color: rgba(255,255,255, 0.3);
	border: 1px solid orange;
	border-radius: 15px;
	padding: 1%;
	transition: border-radius 0.1s, background-color 0.3s, color 0.3s;
}
/**************************************** Patient's Details *************************************/
.heading{
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
/**************************************** Patient's Details *********************************/
form label{
	margin:1%;
}
form input{
	margin: 1%;
	width: 85%;
}
.gender-input{
	width: 3%;
}
.mobile-input{
	width: 40%;
	margin-left: 0.5%;
}
.mobile-label{
	margin-left: 0.5%;
}
.button-submit{
	width: 30%;
	float: left;
}

/********************************* for 1200 ********************************************/
@media only screen and (max-device-width: 1200px){
	form{
		margin-left: 4%;
		margin-top: -5%;
	}
	form input{
		border: 0px solid red;	
	}
	.button-submit input{
	border: 1px solid red;
	border-radius: 5px;
	}
}
/********************************* for 1023 ********************************************/
@media only screen and (max-device-width: 1023px){
	form{
		margin-top: -7%;
	}

/********************************* for 767 ********************************************/
@media only screen and (max-device-width: 767px){
	 form .col{
		width: 100%;
	}
}

}
